body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

@media (min-width: 768px) {
    .navbar-container {
        position: sticky;
        top: 0;
        overflow-y: auto;
        height: 100vh;
    }
    .navbar-container .navbar {
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 100%;
    }
    .navbar-container .navbar-collapse {
        align-items: flex-start;
    }
    .navbar-container .nav {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .navbar-container .navbar-nav {
        flex-direction: column !important;
    }
}

.my-container {
    margin: 0 80px;
    min-height: 100vh;
}

.img-wrapper {
    height: 260px;
}

.img-list {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.product-name-wrapper {
    height: 70px;
}

.cursor {
    cursor: pointer;
}

.vh-100 {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.category-hover:hover {
    font-weight: 600;
}

.img-card {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

@media (max-width: 1700px) {
    .img-card {
        width: 450px;
        height: 500px;
        object-fit: contain;
    }
}

@media (max-width: 1565px) {
    .img-card {
        width: 400px;
        height: 500px;
        object-fit: contain;
    }
}

@media (max-width: 1421px) {
    .img-card {
        width: 350px;
        height: 500px;
        object-fit: contain;
    }
}

@media (max-width: 1317px) {
    .img-card {
        width: 300px;
        height: 500px;
        object-fit: contain;
    }
}

@media (max-width: 1112px) {
    .img-card {
        width: 280px;
        height: 500px;
        object-fit: contain;
    }
}
